<div class="ui grid">
	<div class="row">
		<section class="column">
			<app-divider>Table</app-divider>

			<app-table [data]="data" [headers]="headers" classList="striped celled"></app-table>
		</section>
	</div>

	<div class="row">
		<section class="column">
			<app-divider>Tabs Menu</app-divider>

			<app-tabs>
				<a
					class="item"
					[routerLink]="['./']"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
					>Biography</a
				>
				<a class="item" [routerLink]="['./', 'companies']" routerLinkActive="active">Companies</a>
				<a class="item" [routerLink]="['./', 'partners']" routerLinkActive="active">Partners</a>
			</app-tabs>
		</section>
	</div>
</div>
